################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hackathon.ContentRecommendationService/bin/Debug/net8.0
